@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@font-face {
  font-family: 'PotentialBold'; /* Specify the font family name */
  src: url('../../assets/Fonts/PotentialBold-514jZ.ttf') format('truetype'), /* Specify the path to the font files */
       /* Specify other font formats if available */
}
.header {
  color: rgb(248, 246, 246);
    background-image: url("../../assets/header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    height: 400px;
    font-family: 'PotentialBold', sans-serif;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    margin-bottom: 50px;
  } 
  
  /* Reset some default styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Apply animations to the hero elements */

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #edf2f7; */
    padding: 10px 20px;
    flex-wrap: wrap;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  nav .logo {
    
    flex: 1;
    text-align: center;
  }
  
  nav .logo h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  nav .logo h2 span:first-child {
    color: #4299e1;
  }
  
  nav .logo h2 span:last-child {
    color: #ed8936;
  }
  
  /* Hero section styles */
  .hero-text {
    display: flex;
    padding-top:  40px;
    padding-bottom: 20px;
    text-align: left;
    /* flex-direction: column; */
    /* justify-content:flex-start; */
    align-items: center;
    font-family: 'PotentialBold', sans-serif;
  }
  .hero-text h1{
    padding-left: 50px;
  }
  h1 {
    text-align: left;
    padding-left: 100px;
    font-size: 80px;
    font-weight: bold;
    /* margin-bottom: 20px; */
  }
  